@model tl2_tp6_2024_Isas321.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<h1>Editar Producto</h1>

<form asp-action="Editar" asp-controller="Producto" method="post">
    <input type="hidden" asp-for="IdProducto" /> 

    <div>
        <label for="Descripcion">Descripción:</label>
        <input type="text" id="Descripcion" name="Descripcion" value="@Model.Descripcion" required />
    </div>

    <div>
        <label for="Precio">Precio:</label>
        <input type="number" id="Precio" name="Precio" step="0.01" value="@Model.Precio" required />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
